.course-detail nav {
  margin-left: 20px;
}
.course-detail nav ol {
  padding: 5px 0;
}
.course-detail nav ol li a {
  color: #949393;
  transition: 0.4s all;
}
.course-detail nav ol li a:hover {
  color: #0056b3;
}

h2 {
  font-size: 26px;
  color: #3e416d;
  font-weight: 600;
}

.banner-detail img {
  width: 100%;
  margin-top: -15px;
}

.program-header {
  padding: 30px 0;
}
.program-header h3 {
  font-size: 18px;
  margin: 0 0 15px 0;
  font-weight: 600;
  color: #3e416d;
  line-height: 26px;
}
.program-header h5 {
  font-size: 16px;
  line-height: 1.8;
}
.program-header ul {
  padding-left: 30px;
}
.program-header ul li {
  line-height: 1.8;
  color: #29303b;
}
.program-header .wrapper-video .wrapper-1 {
  width: 100%;
  height: 580px;
}
.program-header .wrapper-video .wrapper-2 {
  width: 100%;
  height: 325px;
}

.program-course {
  padding: 0 30px;
}
.program-course .card {
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 8px;
}
.program-course .card:hover {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
}
.program-course .card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.program-course .card .card-body .card-title {
  color: #333;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.program-course .card .card-body p {
  line-height: 1.5;
}
.program-course .card:hover button {
  opacity: 1;
}
.program-course .card button {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #fff;
  line-height: 22px;
  padding: 10px 20px;
  background-color: #22cc9d;
}

.program-package {
  padding: 30px 0;
}
.program-package h2,
.program-package h3,
.program-package p {
  color: white;
}
.program-package .program-item table {
  border-radius: 10px;
  background: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  width: 100%;
}
.program-package .program-item table thead tr {
  background: #ffa800;
}
.program-package .program-item table thead tr .highlight {
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 10px;
}
.program-package .program-item table thead tr .highlight h3 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 700;
  color: #fff;
}
.program-package .program-item table thead tr .highlight p {
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}
.program-package .program-item table tbody tr {
  text-align: right;
  height: 50px;
  color: #333;
  font-size: 14px;
}
.program-package .program-item table tbody tr .col-left {
  padding: 0px 5px 0px 10px;
}
.program-package .program-item table tbody tr .col-left i {
  color: #27ae60;
}
.program-package .program-item table tbody tr .col-right {
  padding: 0px 10px 0px 5px;
}
.program-package .program-item table tfoot {
  height: 60px;
  background-color: #ffa800;
  text-align: right;
}
.program-package .program-item table tfoot .total {
  border-radius: 0 0 10px 10px;
}
.program-package .program-item table tfoot .total .col-left {
  font-size: 14px;
  border-bottom-left-radius: 8px;
}
.program-package .program-item table tfoot .total .col-right {
  font-size: 15px;
  border-bottom-right-radius: 8px;
}
.program-package .program-item ul {
  padding-left: 30px;
}
.program-package .program-item ul li {
  line-height: 1.5;
  margin-bottom: 5px;
  color: #f0f0f0;
}
.program-package .program-item .order p {
  line-height: 1;
}
.program-package .program-item .order p .sale-price {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
}
.program-package .program-item .order p .price {
  color: #a3a3a3;
  text-decoration: line-through;
  margin-right: 3px;
}
.program-package .program-item .order p .discount-percent {
  color: red;
  font-weight: 700;
}
.program-package .program-item .location .items .item {
  padding: 7px 40px;
  line-height: 26px;
  border: 1px solid #fff;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  margin: 0 10px 0 0;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
  position: relative;
}
.program-package .program-item .location .items .item .tick {
  display: none;
  position: absolute;
  bottom: -12%;
  right: 2px;
  font-size: 15px;
  color: #fff;
}
.program-package .program-item .location .items .active {
  background-color: #f0f0f0;
  color: #666;
  position: relative;
}
.program-package .program-item .location .items .active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transform: rotate(-45deg);
  bottom: -9%;
  right: -13px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #22cc9d;
}
.program-package .program-item .location .items .active .tick {
  display: block;
}
.program-package .program-item .register button {
  background-color: #f0f0f0;
  color: #666;
  padding: 11px 40px;
  border-radius: 5px;
  width: 100%;
  margin: 13px 0;
  border: 1px;
  font-weight: 600;
}
.program-package .program-item .register .btn-booking {
  background-color: #22cc9d;
  color: #fff;
}
@media (max-width: 425px) {
  .program-package .program-item .register button {
    font-size: 14px;
  }
}

.program-faq .faq-content .content {
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
}
.program-faq .faq-content .content ul li {
  border-bottom: 1px solid #999;
  padding: 22px 0;
  position: relative;
}
.program-faq .faq-content .content ul li:nth-last-child(1) {
  border-bottom: none;
}
.program-faq .faq-content .content ul li .title-content {
  font-weight: 700;
  cursor: pointer;
  display: block;
}
.program-faq .faq-content .content ul li .main-content {
  margin-top: 20px;
  display: none;
}
.program-faq .faq-content .content ul li .main-content p {
  color: #666;
  margin: 0 0 10px 0;
}/*# sourceMappingURL=detail.css.map */