.course-detail nav {
  margin-left: 20px;
}
.course-detail nav ol {
  padding: 5px 0;
}
.course-detail nav ol li a {
  color: #949393;
  transition: 0.4s all;
}
.course-detail nav ol li a:hover {
  color: #0056b3;
}

h2 {
  margin-bottom: 20px;
  text-transform: unset;
  font-size: 26px;
  color: #3e416d;
  font-weight: bold;
}

.container-xsmall-615 {
  max-width: 615px;
  margin: 0 auto;
}

.course-title {
  background-color: #184a8c;
  padding-bottom: 70px;
  height: 300px;
  margin-top: -16px;
}
.course-title .container-xsmall-615 {
  padding-top: 36px;
}
.course-title h1 {
  line-height: 1.2;
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  padding: 36px 0;
}
@media (max-width: 576px) {
  .course-title h1 {
    font-size: 26px;
  }
}

.course-thumbnail {
  height: auto;
  margin-bottom: 20px;
}
.course-thumbnail img {
  max-width: 100%;
  margin-top: -80px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
@media (max-width: 576px) {
  .course-thumbnail img {
    margin-top: -120px;
  }
}

.course-card {
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: -10px 10px 14px -5px rgba(25, 42, 70, 0.13);
}
.course-card .course-body {
  padding: 15px;
}
.course-card .course-body .course-info .course-register .btn-register {
  border-radius: 5px;
  width: 100%;
  border: 1px;
  color: #fff;
}
.course-card .course-body .course-info .course-register .installment {
  background-color: #f0f0f0;
  color: #666666;
  font-size: 18px;
  padding: 15px;
  line-height: 21px;
  border: 1px solid #666666;
  margin: 13px 0;
}
.course-card .course-body .course-info .course-register .offline {
  margin-top: 13px;
  border-color: #22cc9d;
  background-color: #22cc9d;
  padding: 10px 17px;
}
.course-card .course-body .course-info .course-register .offline .main-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 17px;
}
.course-card .course-body .course-info .course-register .offline .description {
  font-size: 14px;
  font-weight: 400;
}

.course-calendar {
  padding: 30px 0;
}
.course-calendar p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  color: #333;
  line-height: 28px;
}
.course-calendar .title {
  padding-bottom: 11px;
  font-size: 19px;
}
.course-calendar h2 {
  color: #3e416d;
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 16px;
}
.course-calendar .location {
  margin: 0 10px;
}
.course-calendar .location .items {
  margin-bottom: 10px;
}
.course-calendar .location .items .item {
  margin: 10px;
  padding: 7px 40px;
  line-height: 26px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #666;
  color: #666;
  position: relative;
}
.course-calendar .location .items .item .tick {
  display: none;
  position: absolute;
  bottom: -12%;
  right: 2px;
  font-size: 15px;
  color: #fff;
}
.course-calendar .location .items .active {
  color: #22cc9d;
  border-color: #22cc9d;
  position: relative;
}
.course-calendar .location .items .active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transform: rotate(-45deg);
  bottom: -9%;
  right: -13px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #22cc9d;
}
.course-calendar .location .items .active .tick {
  display: block;
}
.course-calendar .course-alert .alert {
  max-width: 300px;
  margin: 10px auto 0;
  padding: 0 10px;
  color: #1e87f0;
  background-color: #dbe9fa;
  border-radius: 8px;
}
.course-calendar .course-alert .alert .content {
  line-height: 20px;
  padding: 15px;
}
.course-calendar .course-alert .alert .content i {
  line-height: 40px;
}
@media (max-width: 576px) {
  .course-calendar .location {
    text-align: center;
  }
  .course-calendar .location .items .item {
    margin-top: 0;
  }
  .course-calendar .course-card {
    width: 75%;
  }
}
@media (min-width: 576px) {
  .course-calendar .course-card {
    width: 70%;
  }
  .course-calendar p {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .course-calendar .course-card {
    width: 50%;
  }
  .course-calendar p {
    font-size: 14px;
  }
}

.course-description {
  padding: 30px 0;
}
.course-description .header {
  margin-bottom: 20px;
}
.course-description .header .title {
  text-transform: unset;
  font-size: 26px;
  color: #3e416d;
  font-weight: 700;
}
.course-description .content {
  margin-top: 17px;
  padding: 30px;
  background-color: #fff;
  border-radius: 16px;
}
.course-description .content .content-body {
  color: #666;
}
.course-description .content .content-body .video {
  width: 100%;
  height: 315px;
}
.course-description .content .content-body .video iframe {
  width: 100%;
  height: 100%;
}
.course-description .content .content-body h4 {
  font-size: 16px;
  margin: 0 0 15px 0;
  font-weight: 600;
  color: #3e416d;
  text-transform: unset;
}
.course-description .content .content-body ul {
  line-height: 28.8px;
  list-style: disc;
}
@media (max-width: 576px) {
  .course-description .content .content-body .video {
    height: 200px;
  }
}

.course-teacher {
  background-color: #184a8c;
  padding: 30px 0;
}
.course-teacher .container {
  padding: 0 25px;
}
.course-teacher .container .header-teacher {
  margin-bottom: 20px;
}
.course-teacher .container .header-teacher h2 {
  text-transform: unset;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
}
.course-teacher .container .content-teacher {
  padding-bottom: 30px;
}
.course-teacher .container .content-teacher .content {
  background-color: #f8f8f8;
  padding: 0 15px;
  border-radius: 16px;
}
.course-teacher .container .content-teacher .content .info-teacher {
  padding: 30px;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul {
  border-bottom: 1px solid #666;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul li {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.4s all;
  border-bottom: 4px solid #fff;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul li:nth-child(1) {
  margin-right: 20px;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul li:nth-child(2) {
  margin-right: 20px;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul li:nth-child(3) {
  margin-right: 20px;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul li:nth-child(4) {
  margin-right: 20px;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul li:nth-child(5) {
  margin-right: 20px;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul li:nth-last-child(1) {
  margin-right: 0;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul li img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul li p {
  color: #3e416d;
}
.course-teacher .container .content-teacher .content .info-teacher .subnav ul .active {
  opacity: 1;
  border-bottom: 4px solid #3e416d;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul {
  padding: 0;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li .teacher {
  color: #666;
  line-height: 1.6;
  letter-spacing: 0.7px;
  margin: 20px 0px 10px 0;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li .text-right {
  text-align: right;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li .text-right a {
  color: #666;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li .text-right a i {
  margin-left: 4px;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li .text-right a:hover {
  color: rgb(62, 65, 109);
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li h3 {
  margin-top: 38px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li ul .main-lesson {
  background-color: #fcfcfc;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06) !important;
  border-radius: 6px !important;
  overflow: hidden;
  margin-bottom: 15px;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li ul .main-lesson .title {
  cursor: pointer;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li ul .main-lesson .title .title-lesson {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
  width: 85%;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li ul .main-lesson .title .badge {
  font-size: 13px;
  background: #d3d5dc;
  color: white;
  border-radius: 5px;
  padding: 6px;
  margin-left: 3px;
  font-weight: 400;
  display: block;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li ul .main-lesson .title .icon {
  margin-left: 5px;
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li ul .main-lesson .lesson {
  padding: 0 24px;
  color: #666;
  line-height: 1.8;
  display: none;
}
.course-teacher .container .content-teacher .content .info-teacher .introduction ul li ul .main-lesson .lesson ul {
  list-style: square;
  padding-left: 30px;
}
.course-teacher .container .content-teacher .list-course {
  position: sticky;
  top: 90px;
  transform: translateX(5%);
}
.course-teacher .container .content-teacher .list-course .course-card {
  margin-bottom: 20px;
}
.course-teacher .container .content-teacher .list-course .course-card p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  color: #333;
  line-height: 28px;
}

.course-gallery {
  padding: 30px 0 0 0;
}
.course-gallery h2 {
  margin-bottom: 10px;
  text-transform: unset;
  font-size: 26px;
  color: #3e416d;
  font-weight: bold;
}

.course-information {
  padding-bottom: 30px;
}
.course-information .content {
  background-color: white;
  border-radius: 16px;
  position: relative;
  padding: 30px;
  color: #666;
}
.course-information .content p {
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: 0.2px;
}
.course-information .content p a {
  color: #3e416d;
  text-decoration: underline;
}
.course-information .content h4 {
  line-height: 1.4;
  margin: 0 0 15px 0;
  font-weight: 600;
  color: #3e416d;
  font-size: 16px;
}
.course-information .content ul {
  list-style: disc;
}
.course-information .content ul li {
  line-height: 1.8;
}

.course-concern {
  padding: 30px 0;
}
.course-concern .header {
  margin-bottom: 20px;
}
.course-concern .card {
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 8px;
}
.course-concern .card:hover {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
}
.course-concern .card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.course-concern .card .card-body .card-title {
  color: #333;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.course-concern .card .card-body p {
  line-height: 1.5;
}
.course-concern .card:hover button {
  opacity: 1;
}
.course-concern .card button {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #fff;
  line-height: 22px;
  padding: 10px 20px;
  background-color: #22cc9d;
}/*# sourceMappingURL=detail-short.css.map */